@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
	box-sizing: border-box;
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
}


*, *:before, *:after {
	box-sizing: inherit;
}


body{
  font-family: sans-serif;
  background-color: $bg-color;
  @include zero;
  // Hides close button if there is no js
  &.noscript .close-btn,
  &.noscript .toggle-btn{
    display: none;
  }
}

p{
  padding: 0.5em 20em;
  text-align: center;
  color: $btn-color;
}

.img{
  width: 100%;
  padding: 0 20em;
}

h1{
  color: $text-color;
  text-align: center;
}

header {
  padding: 0 1em;
  position: relative;
}

.toggle-btn {
  position: absolute;
  right: 1em;
  top: 0;
}

.navigation ul{
  @include zero;
  li{
    list-style-type: none;
    &:first-child a{
      border-top: 2px solid $text-color;
    }
    a{
      display: block;
      padding: .5em 1em;
      text-align: center;
      border-bottom: 2px solid $text-color;
      text-decoration: none;
    }
  }
}

ul{
  background-color: $text-color;
}

a:hover,
a:visited,
a:active{
  color: $btn-color;
}

.toggle-btn,
.close-btn{
  color: $btn-color;
  height: 40px;
  width: 40px;
  span{
    @include hide-text;
  }
  i{
    border: 2px solid $btn-color;
    border-radius: 5px;
    padding: .5em 0.4em 0.4em;
  }
}

.close-btn{
  margin: 0em;
}

//removed media query to have toggle always there
.site-wrapper{
  position: relative;
  overflow: hidden;
  width: 100%;
  z-index: 100;
  .sliding-canvas{
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateX(0);
    @include ease(all, 300ms, ease-in-out);
  }//sliding
  &[data-state="slide-open"] .sliding-canvas{
    transform: translateX(-30%);
  }//sliding

  &[data-state="slide-open"] {
    overflow: visible;
    .toggle-btn {
      display: none;
    }
  }//slide
}//wrapper

.slide-menu{
  position: absolute;
  width: 30%;
  height: 100%;
  top: 0;
  bottom: 0;
  right: -30%;
  min-height: 750px;
  border-left: 2spx solid $text-color;
}//slide

@media only screen and (max-width: 70em) {
  p{
  padding: 0.5em 5em;
  text-align: center;
  color: $btn-color;
  }

  .img{
    width: 100%;
    padding: 0 5em;
  }

}

@media only screen and (max-width: 40em) {
  p{
  padding: 0.5em 1em;
  text-align: center;
  color: $btn-color;
  }

  .img{
    width: 100%;
    padding: 0 1em;
  }

}



@media only screen and (max-width: 30em) {
  .site-wrapper{
      &[data-state="slide-open"] .sliding-canvas{
      transform: translateX(-100%);
    }//slide
  }//wrapper
  .slide-menu{
    width: 100%;
    right: -100%;
    border: none;
  }

  .close-btn{
  margin: 1em;
}
}//media

/* Not being used
@media only screen and (min-width: 90em){
  .toggle-btn,
  .close-btn{
    display: none;
  }
} */


body.noscript .slide-menu{
  position: static;
  right: auto;
}